{% extends 'base.html' %}

{% block layout %}
  {% block nav %}
    {% include "nav/nav.html" %}
  {% endblock nav %}

<header>
{% block header %}
  <h1>ASSOGEST</h1>
{% endblock header %}
</header>

<div class="main-container">

  {% block message %}
    {% if messages %}
    <div class="messages">
      {% for message in messages %}
      <div class="ui message">
        <i class="close icon"></i>
        {{ message }}
      </div>
      {% endfor %}
    </div>
    {% endif %}
  {% endblock message %}

  {% block content %}
  {% endblock content %}
</div>
{% endblock layout %}